<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
</head>

<body>
    <h1>Posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{post.title}}</h2>
                <p>{{post.body}}</p>
                <small>Posted on: {{post.date}}</small>
            </li>
        {% endfor %}
    </ul>

{#homework 8#}
    <h2>Add New Post</h2>
    <form method="post" action="/posts">
        <label for="postName">Name:</label><br>
        <input type="text" id="postName" name="postName"><br>
        <label for="postDescription">Description:</label><br>
        <textarea id="postDescription" name="postDescription"></textarea><br>
        <input type="submit" value="Submit">
    </form>


</body>
</html>